.column {
  border: 2px solid black;
  padding: 15px;
  background-color: rgb(165, 186, 245);
  display: block;
  margin: auto;

}

.img1 {
  box-sizing: border-box;
  margin: auto;
  border: solid #2336a0 10px;
  padding: 15px;
  float: left;
}

.box1 {
  padding: 20px;
  width: 40%;
  float: left;
}

.box2 {
  padding: 20px;
  width: 100%;
  float: left;
}

.bigwords {
  font-size: 20px;
  line-height: 25px
}

