.nav-bar {
  background: #181818;
  width: 11%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 8px 0;
    font-size: 133px;

    img {
      display: block;
      margin: 20px auto;
      width: 60%;
      height: auto;

      &.sub-logo {
        width: 50px;
      }
    }
  }

  h1 {
    font: 300 18px/1.4 'Helvetica';
    color: #fff;
    text-align: center;
  }

  nav {
    display: block;
    text-align: center;
    position: relative;
    height: 210px;
    top: 30%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 33px;
      color: #4d4d4e;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #f56d1e;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 20px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &:after {
          content: 'HOME';
        }
      }
    }

    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }

    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }

    a.portfolio-link {
      &:after {
        content: 'PORTFOLIO';
      }
    }

    a.active {
      svg {
        color: #f08242;
      }
    }
  }

  ul {
    position: absolute;
    bottom: 45px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 15px 0;
        display: block;
        font-size: 22px;
        line-height: 16px;
        color: #4d4d4e;
      }

      &:hover {
        .anchor-icon {
          color: #ffd700;
        }
      }
    }
  }
}