.home-page {
  background-image: url("../../assets/pictures/img4.jpg");  overflow: hidden;

  .text-zone {
    font-family: Helvetica;
    font-size: 35px;
    line-height: 100%;
    color: #fff;
    position: absolute;
    left: 39%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: .25s;
  }

  h1 {
    p {
      font-size: 30px;
      font-family: Helvetica;
      margin-left: 5px;
    }
    img {
      margin-left: 20px;
      opacity: 0;
      width: 62px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
}