.home-page {
  background-image: url("../../assets/pictures/img4.jpg");  overflow: hidden;

  .text-zone {
    font: 300 30px/1.4 'Helvetica';
    color: #fff;
    position: absolute;
    left: 36%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: .5s;
  }

  h1 {
    font: 00 30px/1.4 'Helvetica';

    img {
      margin-left: 20px;
      opacity: 0;
      width: 62px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
}