.projects-page {
  font-size: 25px;
  left: -12%;
  height: 190px;
  margin-top: -175px;
  width: 100%;

  .box1 {
    font-size: 25px;
    left: 10%;
    margin-top: 3%;

    strong{
      color: #f56d1e;
      font-size: 23px;
    }

    h5{
      margin-top: 3%;
      a{
        color: #f56d1e;
      }
    }
  }
  .box2 {
    font-size: 25px;
    left: 10%;
    margin-top: 32%;

    strong{
      color: #f56d1e;
      font-size: 23px;
    }

    h5{
      margin-top: 3%;
      a{
        color: #f56d1e;
      }
    }
  }
  .box3 {
    font-size: 25px;
    left: 10%;
    margin-top: 62%;

    strong{
      color: #f56d1e;
      font-size: 23px;
    }

    h5{
      margin-top: 3%;
      a{
        color: #f56d1e;
      }
    }
  }
}